BOT_TOKEN=
CLIENT_ID=
MONGO_URI=
DEV_GUILD_ID=
NODE_ENV=development
API_PORT=3000
LOG_LEVEL=info
DEFAULT_CURRENCY=coins
AI_API_KEY=
VERIFIED_ROLE_ID=
VERIFIED_ROLE_NAME=Verified
MEMBER_ROLE_ID=
MEMBER_ROLE_NAME=pdf members
